* {
  margin: 0;
}
.navbar {
  width: 100%;
  height: 52px;
  background-image: linear-gradient(to left, #fdac53, #f5df4d);
}

.important {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.background {
  display: flex;
  justify-content: center;
}

#video_main,
#video_main_choice_1,
#video_main_choice_2 {
  height: 38rem;
}

.content {
  position: absolute;
}

/* buttons */

.test {
  position: absolute;
  z-index: 12;
  display: none;
}

.pos1 {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-left: 10rem;
}

.pos2 {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-left: -8rem;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.choice {
  display: block;
  position: absolute;

  z-index: 1;
  background-color: rgba(221, 200, 200, 0.1);

  border-style: solid;
  border-radius: 80px;
  border-color: rgba(218, 210, 210, 0.2);

  box-shadow: rgba(37, 37, 37, 0.6) 0px 0px 32px 0px;

  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: example;
}

.one {
  width: 60px;
  height: 60px;
}

.two {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  animation-delay: 0.1s;
}

.three {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  animation-delay: 0.2s;
}

@keyframes example {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* end buttons */
.title {
  margin-top: 10px;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: cornsilk;
  display: none;
}

.content main {
  display: block;
}

.main_choice_1 {
  display: none;
}

.main_choice_2 {
  display: none;
}

.like_dislike {
  margin-top: -8px;
  display: block;
  height: 42rem;
  width: 360px;
  border: solid linear-gradient(to left, #fdac53, #f5df4d);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.container_1 {
  margin-top: 39rem;
}

#form, button {
  font-weight: 400;
  margin-left: 18px;
  font-family: Arial, Helvetica, sans-serif;
  width: 4rem;
  height: 2rem;
  border-radius: 36px;
  color: rgb(255, 255, 255);
  border: rgba(90, 90, 90, 0.246) solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-image: linear-gradient(to left, #fdac53, #f5df4d);
}

button:hover {
  color: #363945;
}

button:focus {
  outline: none;
}
