.feed-element {
  position: relative;
  padding: 8px;
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#choose-text {
  position: absolute;
  font-size: 48px;
  color: #fafafa;
  display: none;
}

.choice {
  position: absolute;
  display: none;
  z-index: 1;
  cursor: pointer;
}

.choice-button {
  display: flex;
  justify-content: center;
}

.circle {
  display: block;
  position: absolute;

  background-color: rgba(221, 200, 200, 0.1);

  border-style: solid;
  border-radius: 80px;
  border-color: rgba(218, 210, 210, 0.2);

  box-shadow: rgba(37, 37, 37, 0.6) 0px 0px 32px 0px;

  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: example;
}

.one {
  width: 60px;
  height: 60px;
}

.two {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  animation-delay: 0.1s;
}

.three {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  animation-delay: 0.2s;
}

@keyframes example {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.video-player {
  height: 75vh;
}

.buttons-menu {
  padding: 8px 0px;
  width: fit-content;
  margin: auto;
}

.buttons-menu button {
  background-color: #f5c55f;
  width: 72px;
  height: 28px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(31, 31, 31);
  cursor: pointer;
  border-radius: 4px;
}

.buttons-menu button:hover {
  background-color: #7e6531;
}

@media screen and (max-height: 740px) {
  .buttons-menu button {
    font-size: 12px;
    width: 56px;
  }
}

@media screen and (max-height: 565px) {
  .buttons-menu button {
    height: 24px;
    width: 48px;
  }
}

@media screen and (max-height: 490px) {
  .buttons-menu button {
    font-size: 10px;
    width: 40px;
  }
}
